DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/AiModels
SECRET_KEY=
ALGORITHM=HS256

AWS_KEY_ID=minio
AWS_SECRET_KEY=minio123
REGION=ru-central1
S3_URL=http://localhost:9000
S3_BUCKET=ai-bucket

LOG_LEVEL=INFO
PORT=8000
